@charset "UTF-8";
body {
    margin: 0
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url(../fonts/MuseoSansCyrl-300.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-300.woff) format("woff"), url(../fonts/MuseoSansCyrl-300.otf) format("opentype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0525
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url(../fonts/MuseoSansCyrl-500.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-500.woff) format("woff"), url(../fonts/MuseoSansCyrl-500.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0525
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url(../fonts/MuseoSansCyrl-700.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-700.woff) format("woff"), url(../fonts/MuseoSansCyrl-700.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0525
}

@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url(../fonts/MuseoSansCyrl-900.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-900.woff) format("woff"), url(../fonts/MuseoSansCyrl-900.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0525
}

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

section {
    display: block
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
    *, :after, :before {
        background: 0 0 !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    h2 {
        orphans: 3;
        widows: 3
    }

    h2 {
        page-break-after: avoid
    }
}

body {
    background-color: #fff
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot);
    src: url(../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/bootstrap/glyphicons-halflings-regular.woff2) format("woff2"), url(../fonts/bootstrap/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/bootstrap/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333
}

h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px
}

h2 {
    font-size: 30px
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

.container:after, .row:after {
    clear: both
}

.container:after, .container:before, .row:after, .row:before {
    display: table;
    content: " "
}

.container {
    margin-right: auto;
    margin-left: auto
}

.container {
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-sm-4, .col-sm-5 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .col-sm-4, .col-sm-5 {
        float: left
    }

    .col-sm-4 {
        width: 33.33333%
    }

    .col-sm-5 {
        width: 41.66667%
    }
}

html, html body {
    width: 100%
}

@-ms-viewport {
    width: device-width
}

html {
    -webkit-tap-highlight-color: transparent;
    font-size: 100.01%
}

html body {
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Museo Sans Cyrl 300", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    color: #2b2b2b;
    background: #fff
}

.block1 {
    font-family: "Museo Sans Cyrl 900"
}

.block1 {
    padding: 20px 0
}

.block1 .block1__title h2 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 24px;
    text-transform: uppercase
}

.block1 .block1__title .title-sale {
    margin-top: 0;
    text-transform: uppercase;
    color: #e43521
}

.block1 .block1__timer {
    margin-top: -5px;
    text-align: center
}

section {
    display: block;
    padding: 60px 0 100px
}