html {
  width: 100%;
  font-size: 100.01%;
  body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: $main_font_size;
    font-family: $main_font_family, 'Helvetica', 'Arial', sans-serif;
    line-height: $line_height;
    color: $main_font_color;
    background: $bg_color;
  }
}